@mixin button-style($background, $color) {
  background-color: $background;
  color: $color;

  // Funções:
  &:hover {
    background: darken($background, 5%);
    // background: desature($background, 10%);
    // background: mix($background, red);
    // background: grayscale($background);
  }
}

.btn {
  width: 200px;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
  margin: 10px 0;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateX(20px);
  }

  &.btn-lime {
    @include button-style($color-lime, #fff);
  }

  &.btn-purple {
    @include button-style($color-purple, #fff);
  }

  &.btn-yellow {
    @include button-style($color-yellow, #000);
  }
}
